<a href="https://colab.research.google.com/github/Jaswanth-Chitrada/ml_projects/blob/main/TAM_TECHNICAL_DOMAIN_TASK_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TAM TECHNICAL DOMAIN TASK 1



Use the dataset provided in the group and perform the following preprocessing steps-

Remove the PassengerID column because it does not provide a lot of insights.
Remove the Cabin column because it has too many missing values.
Feature scale the ‘Age’ column, both using standard scaling and min-max scaling and add the same to the dataframe.
Create a new feature ‘Cabin_detail’ using feature engineering and add it to the data frame.
Cabin_detail = Fare / Pclass

Use One Hot Encoding to encode the ‘Gender’ column
		For example, [Male = ‘0’ , Female = ‘1’]

Use Label Encoding to encode the ‘Embarked’ column
For example,[Cherbourg = ‘0 , Queenstown = ‘1’, Southampton= ‘2’]
C = Cherbourg, Q = Queenstown, S = Southampton

In [ ]:
import pandas as pd
import numpy as np

In [66]:
df=pd.read_csv("/content/tamvit1.csv")
df.head()

,PassengerId,Pclass,Name,Sex,Age,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,12.2875,NaN,S

In [67]:
df=df.iloc[:,1:]
df.head()

,Pclass,Name,Sex,Age,Fare,Cabin,Embarked
0,3,"Kelly, Mr. James",male,34.5,7.8292,NaN,Q
1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,7.0000,NaN,S
2,2,"Myles, Mr. Thomas Francis",male,62.0,9.6875,NaN,Q
3,3,"Wirz, Mr. Albert",male,27.0,8.6625,NaN,S
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,12.2875,NaN,S

In [68]:
del df['Cabin']
df.head()

,Pclass,Name,Sex,Age,Fare,Embarked
0,3,"Kelly, Mr. James",male,34.5,7.8292,Q
1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,7.0000,S
2,2,"Myles, Mr. Thomas Francis",male,62.0,9.6875,Q
3,3,"Wirz, Mr. Albert",male,27.0,8.6625,S
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,12.2875,S

In [69]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler

scaler = StandardScaler()
df['Age'] = scaler.fit_transform(df['Age'].values.reshape(-1, 1))

In [70]:
x_new=df['Fare']/df['Pclass']

df["cabin_detail"]=x_new

df.head()

,Pclass,Name,Sex,Age,Fare,Embarked,cabin_detail
0,3,"Kelly, Mr. James",male,0.199963,7.8292,Q,2.609733
1,3,"Wilkes, Mrs. James (Ellen Needs)",female,1.062962,7.0000,S,2.333333
2,2,"Myles, Mr. Thomas Francis",male,2.098560,9.6875,Q,4.843750
3,3,"Wirz, Mr. Albert",male,-0.317836,8.6625,S,2.887500
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,-0.663036,12.2875,S,4.095833

In [71]:
df = pd.get_dummies(df, columns=['Sex'], prefix=['Sex'])
df.head()

,Pclass,Name,Age,Fare,Embarked,cabin_detail,Sex_female,Sex_male
0,3,"Kelly, Mr. James",0.199963,7.8292,Q,2.609733,0,1
1,3,"Wilkes, Mrs. James (Ellen Needs)",1.062962,7.0000,S,2.333333,1,0
2,2,"Myles, Mr. Thomas Francis",2.098560,9.6875,Q,4.843750,0,1
3,3,"Wirz, Mr. Albert",-0.317836,8.6625,S,2.887500,0,1
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",-0.663036,12.2875,S,4.095833,1,0

In [74]:
from sklearn.preprocessing import LabelEncoder






# Perform label encoding
label_encoder = LabelEncoder()
df['Embarked'] = label_encoder.fit_transform(df['Embarked'])
df.head(20)

,Pclass,Name,Age,Fare,Embarked,cabin_detail,Sex_female,Sex_male
0,3,"Kelly, Mr. James",0.199963,7.8292,1,2.609733,0,1
1,3,"Wilkes, Mrs. James (Ellen Needs)",1.062962,7.0000,2,2.333333,1,0
2,2,"Myles, Mr. Thomas Francis",2.098560,9.6875,1,4.843750,0,1
3,3,"Wirz, Mr. Albert",-0.317836,8.6625,2,2.887500,0,1
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",-0.663036,12.2875,2,4.095833,1,0
5,3,"Svensson, Mr. Johan Cervin",-1.215355,9.2250,2,3.075000,0,1
6,3,"Connolly, Miss. Kate",-0.110716,7.6292,1,2.543067,1,0
7,2,"Caldwell, Mr. Albert Francis",-0.386876,29.0000,2,14.500000,0,1
8,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",-0.939195,7.2292,0,2.409733,1,0
9,3,"Davies, Mr. John Samuel",-0.732076,24.1500,2,8.050000,0,1
10,3,"Ilieff, Mr. Ylio",NaN,7.8958,2,2.631933,0,1
11,1,"Jones, Mr. Charles Cresson",0.993922,26.0000,2,26.000000,0,1
12,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",-0.593996,82.2667,2,82.266700,1,0
13,2,"Howard, Mr. Benjamin",2.167600,26.0000,2,13.000000,0,1
14,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",1.062962,61.1750,2,61.175000,1,0
15,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",-0.524956,27.7208,0,13.860400,1,0
16,2,"Keane, Mr. Daniel",0.234483,12.3500,1,6.175000,0,1
17,3,"Assaf, Mr. Gerios",-0.732076,7.2250,0,2.408333,0,1
18,3,"Ilmakangas, Miss. Ida Livija",-0.317836,7.9250,2,2.641667,1,0
19,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",0.924882,7.2250,0,2.408333,1,0